
<%= form_for(author) do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <form class="form-horizontal">
  <div class="form-group">
    <%= f.label :author_name %>
    <%= f.text_field :author_name %>
  </div>
  
  <div class="form-group">
    <%= f.label :biography%>
    <%= f.text_area :biography%>
  </div>
 <div class="form-group">
    <%= f.label :photo%>
    <%= f.text_area :photo%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>div>