<h1>Listing authors</h1>

<table>
  <tr>
    <th>Name</th>
   
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.author_name %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New author', new_author_path %>   
  
  <br />

  <br />

  
