<%= form_for(categorization) do |f| %>
  <% if categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categorization.errors.count, "error") %> prohibited this categorization from being saved:</h2>
      <ul>
      <% categorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>

  <div class="form-group">
    <%= f.label :book_id %>
    <%= f.text_field :book_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>