<h1>List</h1>

<table>
  <tr>
    <th>Name</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorizations.each do |categorization| %>
  <tr>
    <td><%= categorization.category_id %></td> 
    <td><%= categorization.book_id %></td> 
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New ', new_categorization_path %>   
  
  <br />

  <br />

  
  
