<%= form_for(publisher) do |f| %>
  <% if publisher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publisher.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% publisher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :publisher_name %>
    <%= f.text_field :publisher_name %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>