<h1>Listing publishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publishers.each do |publisher| %>
  <tr>
    <td><%= publisher.publisher_name %></td>
   
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New publisher', new_publisher_path %>   