<!--banner-->
<script src="js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>

<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">					 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
					   	<li class="dropdown1"><a href="index.html">HOME</a>
						  </li>
						  <li class="dropdown1"><%= link_to "BOOKSTORE", books_path%></a>
						  </li>
						  <li class="dropdown1"><a class="shop scroll" href="#cate">CATEGORIES</a>
							 <ul class="dropdown2">
							 		<li><a href=#>CLASSIC</a></li>
									<li><a href=#>DETECTIVE NOVEL</a></li>
									<li><a href=#>DRAMA AND ROMANCE</a></li>
									<li><a href=#>ACTION AND ADVERTURE</a></li>
									<li><a href="#">SCIENCE FICTION & FANTASY</a></li>
									<li><a href=#>HORROR</a></li>
							  </ul>
						 </li>               
						 <li class="dropdown1"> <%= link_to "LOG IN", log_in_path %></a>
							 <ul class="dropdown2">
									<li> <td><%= link_to 'SIGN UP', new_customer_path %></td></li>
									<li><a href="#">CONTACT WITH US</a></li>
									<li><%= link_to "log in", log_in_path %></a></li>
							  </ul>
						 </li>
						  <a class="shop" href="#"><img src="images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="caption">
		 <div class="slider">
					   <div class="callbacks_container">
						   <ul class="rslides" id="slider">
							    <li><h1>ANOTHER WORLD</h1></li>
								<li><h1>ANOTHER PEOPLE</h1></li>	
								<li><h1>ANOTHER STORY</h1></li>	
						  </ul>
						  <p>A <span>book</span> is <span>a dream,</span> that you hold in <span>your hand</span></p>
						  <a class="morebtn"> <%= link_to "SHOP BOOKS", books_path%></a>
					  </div>
				  </div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img src="images/scroll.png" alt=""/></a>
	 </div>				 
</div>
<!--/banner-->
<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>CLASSIC</h4>
				 <p></p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>DETECTIVE NOVEL</h4>
				 <p></p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>DRAMA AND ROMANCE</h4>
				 <p></p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>ACTION AND ADVERTURE</h4>
				 <p></p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid1">
				 <h4>SCIENCE FICTION & FANTASY</h4>
				 <p></p> 
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>HORROR</h4>
				 <p></p>
				 <a class="store" href="bicycles.html">GO TO STORE</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--bikes-->
<div class="bikes">	
		 <h3>POPULAR BOOKS</h3>
		 <div class="bikes-grids">			 
			 <ul id="flexiselDemo1">
				 <li>
					 <img src="/images/book1.jpg" width="250" alt=""/>
					 <div class="bike-info">
							 <h4>FIXED GEAR FIXED GEAR<span>$249.00</span></h4>				
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				 <img src="/images/book2.jpg" width="250" alt=""/>
				 <div class="bike-info">
							 <h4>BIG BOY ULTRA<span>$249.00</span></h4>							 	
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
					<img src="/images/book3.jpg" width="250" alt=""/>
					 <div class="bike-info">
							 <h4>ROCK HOVER ROCK HOVER<span>$300.00</span></h4>					
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				     <img src="/images/book4.jpg" width="250" alt=""/>
					 <div class="bike-info">
							 <h4>SANSACHG<span>$249.00</span></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
					 <img src="/images/book5.jpg" width="250" alt=""/>
					 <div class="bike-info">
							 <h4>JETT MAC<span>$340.00</span></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
				 <li>
				      <img src="/images/book6.jpg" alt=""/>
					  <div class="bike-info">
							 <h4>SANSACHG<span>$249.00</span></h4>
						 <div class="clearfix"></div>
					 </div>
					 <div class="viw">
						<a href="bicycles.html">Quick View</a>
					 </div>
				 </li>
		    </ul>
			<script type="text/javascript">
			 $(window).load(function() {			
			  $("#flexiselDemo1").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover:true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
			</script>
			<script type="text/javascript" src="js/jquery.flexisel.js"></script>			 
	</div>
</div>
<!---->
<div class="contact">
	<div class="container">
		<h3>CONTACT US</h3>
		<p>Please contact us for all inquiries and purchase options.</p>
		<form>
			 <input type="text" placeholder="NAME" required="">
			 <input type="text" placeholder="SURNAME" required="">			 
			 <input class="user" type="text" placeholder="USER@DOMAIN.COM" required=""><br>
			 <textarea placeholder="MESSAGE"></textarea>
			 <input type="submit" value="SEND">
		</form>
	</div>
</div>
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="ftr-menu">
			 <ul>
			 	 <li><a href="index.html">HOME</a></li>
				 <li><a href="books#index">BOOKSTORE</a></li>
				 <li><a href="#">CATEGORIES</a></li>
				 <li><%= link_to "LOG IN", log_in_path %></a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->

