<!DOCTYPE html>
<html>
<head>
<title>Book Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Home </title>
<meta charset="utf-8">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Book-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/scripts.js" type="text/javascript"></script>

<!--js-->
<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
		<script type="text/javascript">
			jQuery(document).ready(function() {

				$(':text:first').focus();
				
				$('#confirm_password').change(function() {
			      var pass1 = $("#password").val();
			      var pass2 = $("#confirm_password").val();
				  
			      if (pass1 != pass2) {
					$("#confirm_password").css('border', 'red 3px solid');
			      }
			      if (pass1 == pass2) {
					$("#confirm_password").css('border', 'green 3px solid');
			      }
				});
			});
		</script>

</head>
<body>
<!--banner-->
<script src="js/responsiveslides.min.js"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
 </script>
<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">						 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
					   	<li class="dropdown1"><a href="index.html">HOME</a>
						  </li>
						  <li class="dropdown1"><a href=#>BOOKSTORE</a>
						  </li>
						  <li class="dropdown1"><a href="index.html">CATEGORIES</a>
							 <ul class="dropdown2">
							 		<li><a href=#>CLASSIC</a></li>
									<li><a href=#>DETECTIVE NOVEL</a></li>
									<li><a href=#>DRAMA AND ROMANCE</a></li>
									<li><a href=#>ACTION AND ADVERTURE</a></li>
									<li><a href="#">SCIENCE FICTION & FANTASY</a></li>
									<li><a href=#>HORROR</a></li>
							  </ul>
						 </li>               
						 <li class="dropdown1"><a href="#">LOG IN</a>
							 <ul class="dropdown2">
									<li><a href="registration.html">SING UP</a></li>
									<li><a href="#">CONTACT WITH US</a></li>
							  </ul>
						 </li>
						  <a class="shop" href="#"><img src="#{assets_path('cart.png')}" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="registration">

			<form action="">
			<fieldset class="data">
				 <p><label for="user">FIRST NAME</label>
				 <input name="user" class="field name" type="text" required pattern="^[A-Za-zА-Яа-яЁё]+$": :customer_name>
				 <span></span>
				 <br>
				 <label for="surname">SECOND NAME</label>
				 <input name="surname" class="field surname" type="text" required pattern="^[A-Za-zА-Яа-яЁё]+$">
				 <span></span>
				 <br>
				 <label for="phonenumber">PHONE NUMBER</label>
				 <input name="phonenumber" class="field city" type="text" required pattern="+[0-9]{12}"+$">
				 <span></span></p>
				 <label for="city">ADDRESS</label>
				 <input name="city" class="field city" type="text" required pattern="^[A-Za-zА-Яа-я0-9Ёё\s.,]+$">
				 <span></span></p>
				 <p><label for="email">EMAIL</label>
				 <input name="email" class="field email" required type="email">
				 <span></span>
				 <br>
				 <label for="pass">PASSWORD</label>
				 <input name="pass" id="password" class="field password1" type="password" id="password">
				 <br>
				 <label for="pass-repeat">REPEAT</label>
				 <input name="pass-repeat" id="confirm_password" class="field password2" type="password" required></p>
			</fieldset>
			<div class="check"><button id="submit"></button>
			</form>

	 </div>
</div>

<!---->
<!---->
</body>
</html>