<% customer = Customer.new %>
<%= bootstrap_form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>  /
  <% end %>
  <!--
  <form class="form-horizontal" 
    <div class = "form-group">
    <div class="col-xs-10">
        <%= f.text_field :customer_name,  class: 'form-control' %>
    </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
        <%= f.text_field :phone_number, class: 'form-control'  %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10">
      <%= f.text_field :adress, class: 'form-control'  %>
      </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
        <%= f.email_field :email, class: 'form-control'  %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
        <%= f.password_field :password, class: 'form-control'  %>
        </div>
    </div>

    </form>
    -->

  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Customer name</label>
    <div class="col-sm-10">
      <%= f.text_field :customer_name, hide_label: true %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-10">
      <%= f.text_field :phone_number, hide_label: true, class: 'form-control'  %>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Adress</label>
    <div class="col-sm-10">
      <%= f.text_field :adress, hide_label: true, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmaild3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <%= f.email_field :email, hide_label: true, class: 'form-control'  %>
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <%= f.password_field :password, hide_label: true, class: 'form-control'  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", class: "btn btn-outlined btn-primary" %>
    </div>
  </div>
  </form>

<% end %>


