<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.customer_name %></td>
    <td><%= customer.email %></td>
   <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy',customer, method: :delete,
                                     data: { confirm: 'Are you sure?' } %></td>  
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New customer', new_customer_path %>   