<div class="banner-bg banner-bg1">  
    <div class="container">
       <div class="header">            
          <div class="top-nav">                    
            <label class="mobile_menu" for="mobile_menu">
            <span>Menu</span>
            </label>
            <input id="mobile_menu" type="checkbox">
             <ul class="nav">
              <li class="dropdown1"><a href="index.html">HOME</a>
              </li>
              <li class="dropdown1"><a href="bookstore.html">BOOKSTORE</a>
              </li>
              <li class="dropdown1"><a href="categories.html">CATEGORIES</a>
               <ul class="dropdown2">
                  <li><a href=#>CLASSIC</a></li>
                  <li><a href=#>DETECTIVE NOVEL</a></li>
                  <li><a href=#>DRAMA AND ROMANCE</a></li>
                  <li><a href=#>ACTION AND ADVERTURE</a></li>
                  <li><a href="#">SCIENCE FICTION & FANTASY</a></li>
                  <li><a href=#>HORROR</a></li>
                </ul>
             </li>               
             <li class="dropdown1"><a href="#">LOG IN</a>
               <ul class="dropdown2">
                  <li><a href="registration.html">SING UP</a></li>
                  <li><a href="#">CONTACT WITH US</a></li>
                </ul>
             </li>
              <a class="shop" href="#"><img src="images/cart.png" alt=""/></a>
            </ul>
         </div>
         <div class="clearfix"></div>
       </div>
    </div>   




      <div class "regwindow">
        <%= render 'form', customer: @customer %>
      </div>



</div>


