<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @customer.customer_name %>
</p>
<p>
  <strong>Body:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>