<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :book_name %>
    <%= f.text_field :book_name %>
  </div>
<div class="form-group">
    <%= f.label :rating%>
    <%= f.text_area :rating%>
    <div class="form-group">
    <%= f.label :author_id%>
    <%= f.text_area :author_id%>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :publisher_id %>
    <%= f.text_area :publisher_id %>
  </div>
  <div class="form-group">
    <%= f.label :publishing_year%>
    <%= f.text_area :publishing_year%>
  </div>
 <div class="form-group">
    <%= f.label :description%>
    <%= f.text_area :description%>
  </div>
 <div class="form-group">
    <%= f.label :photo%>
    <%= f.text_area :photo%>
  </div>
 <div class="form-group">
    <%= f.label :price%>
    <%= f.text_area :price%>
  </div>
<div class="form-group">
    <%= f.label :quantity%>
    <%= f.text_area :quantity%>
  </div>
 
 <div class="form-group">
    <%= f.label :size%>
    <%= f.text_area :size%>
     </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>