<h1>Listing books</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Publisher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.book_name %></td>
    <td><%= book.author.author_name  %></td>
   <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New book', new_book_path %>   
  
  <br />

  <br />


  <%= form_tag books_path, :method => 'get' do %>
  <%= label_tag(:search, "Search for:") %>
     <%= text_field_tag  :search, params[:search]   %>
     

  <%= label_tag(:a_search, "Search for author:") %>
     <%= text_field_tag  :a_search, params[:a_search]   %>

     <%= radio_button_tag(:search1, "1") %>
<%= label_tag(1, "1") %>
<%= radio_button_tag(:search1, "2") %>
<%= label_tag(2, "2") %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
  <%#= link_to "Cat", categorizations_path%>
  
