<p id="notice"><%= notice %></p>
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<!--webfont-->
<!-- dropdown -->
<script src="js/jquery.easydropdown.js"></script>
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/scripts.js" type="text/javascript"></script>
<!--js-->

</head>
<body>
<!--banner-->
<script src="js/responsiveslides.min.js"></script>

<div class="banner-bg banner-sec">	
	  <div class="container">
			 <div class="header">
						 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
						  <li class="dropdown1"><a href="index.html">HOME</a>
						  </li>
						  <li class="dropdown1"><a href="bookstore.html">BOOKSTORE</a>
						  </li>
						  <li class="dropdown1"><a href="categories.html">CATEGORIES</a>
							 <ul class="dropdown2">
							 		<li><a href=#>CLASSIC</a></li>
									<li><a href=#>DETECTIVE NOVEL</a></li>
									<li><a href=#>DRAMA AND ROMANCE</a></li>
									<li><a href=#>ACTION AND ADVERTURE</a></li>
									<li><a href="#">SCIENCE FICTION & FANTASY</a></li>
									<li><a href=#>HORROR</a></li>
							  </ul>
						 </li>               
						 <li class="dropdown1"><a href="#">LOG IN</a>
							 <ul class="dropdown2">
									<li><a href="registration.html">SING UP</a></li>
									<li><a href="#">CONTACT WITH US</a></li>
							  </ul>
						 </li>
						  <a class="shop" href="#"><img src="images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div> 				 
</div>
<!--/banner-->
<div class="product">
	 <div class="container">
		 <div class="ctnt-bar cntnt">
			 <div class="content-bar">
				 <div class="single-page">
					 <div class="product-head">
						<a href="index.html">HОМЕ</a> <span>/</span>	
						<a href="bookstore.html">BOOKSTORE</a> <span>/</span>
						<a href="single.html"><%=@book.book_name%></a>
					</div>
					<!--//details-product-slider-->
					<div class="details-left-img">
						<img src= <%=  @book.photo%> class="img-responsive" />		
					 </div>
					 <div class="details-left-info">
							<h3><%=@book.book_name%></h3>
							<% @cats=[]
							 @book.categories.each do |cat| 
									@cats<<cat.category_name
							 end %>
								<h4><%=@cats.join("&")%></h4>
							<p><label>$</label> <%=@book.price%> <a href="#">Click for offer</a></p>
							<div class="rating">
								<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
								<p>   (<%=@book.rating%>/5)</p>
							</div>
							<div class="btn_form">
								<a href="cart.html">buy now</a>
								<a href="cart.html">ADD TO CART</a>
							</div>
							<div class="bike-type">
							<p>Год написания: <a href="#"><%=@book.publishing_year%></a></p>
							<p>Автор: <a> <%= link_to "#{@book.author.author_name}", @book.author %></a></p>
							</div>
							<h5>Описание:</h5>
							<p class="desc" align="justify"><%=@book.description%></p>
					 </div>
					 <div class="clearfix"></div>				 	
				  </div>
			  </div>
		  </div>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container wrap">
		<div class="ftr-menu">
			 <ul>
			 	 <li><a href="index.html">HOME</a></li>
				 <li><a href="bookstore.html">BOOKSTORE</a></li>
				 <li><a href="categories.html">CATEGORIES</a></li>
				 <li><a href="#">LOG IN</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->






