<h1>List</h1>

<table>
  <tr>
    <th>Name</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.category_name %></td>
    
    <td><%= link_to 'Show', category %></td>
    
    
  </tr>
<% end %>
</table>
  
<br />

  <%= link_to 'New ', new_category_path %>   
  
  <br />

  <br />

  
  
