<!DOCTYPE html>
<html>
  <head>
    <title>CadTest</title>
    <%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<title>Book Shop a Ecommerce Category Flat Bootstarp Responsive Website Template| Home </title>
	<meta charset="utf-8">
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Book-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
	<!--webfont-->
	<!-- dropdown -->
	<script src="/js/jquery.easydropdown.js"></script>
	<link href="/css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	<script src="/js/scripts.js" type="text/javascript"></script>

	<!--js-->
	<!---- start-smoth-scrolling---->
			<script type="text/javascript" src="/js/move-top.js"></script>
			<script type="text/javascript" src="/js/easing.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            });
        });
			</script>
	</head>

  <body>
    <%= yield %>
    <div id="customer_nav">
  <% if current_customer %>
    Logged in as <%= current_customer.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
  </body>
</html>
